@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	/*box-sizing: border-box;*/
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 150px;
	display: grid;
	place-items: center;
	background-image: url('5.jpg');
	background-size: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	color: #000000;
	border: 0;
	font-size: 17px;
	font-weight: 500;
	background: linear-gradient(to right, #ff105f, #ffad06);
}

/* Chat Page */

.chat-container {
	max-width: 1000px;
	min-width: 800px;
	max-height: 800px;
	background: #1b1b1b;
	margin: 30px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 9px 25px #000000;
}

.chat-header {
	background: #1b1b1b;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
	z-index: 1;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: #202225;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	height: 500px;
    padding: 16px;
	display: flex;
	background-color: #292b2f	;
	flex-direction: column;
	justify-content: flex-end;
    overflow-y: auto;
	padding-top: 40px;
	scrollbar-width: none;
}

.message-row {
	display: grid;
	grid-template-columns: 35%;
	margin-bottom: 10px;
	justify-content: space-between;
}

.you-message {
	align-items: flex-end;
	
}

.other-message {
	justify-content: start;
	justify-items: start;
}

.message-text {
	padding: 9px 14px;
	margin-bottom: 5px;
}

.message-time {
	font-size: 13px;
	color: #777;
}

.you-message .message-text {
	background: #1b1b1b;
	color: white;
	border: 1px solid #1b1b1b;
	border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
	background: linear-gradient(to right, #ff105f, #ffad06);;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 14px 14px 14px 0;
}

.message-title span {
	font-size: 12px;
	text-transform: capitalize;
	color: #777
}


.chat-form-container {
	padding: 20px 30px;
	background-color: #1b1b1b;
	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	box-shadow: 2px 9px 25px #1b1b1b;
	border-radius: 10px;
	overflow: hidden;
	
}

.join-header {
	text-align: center;
	padding: 20px;
	background: #1b1b1b;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
	max-width: 500px;
	background: #1b1b1b;
	color: #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}


.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #202225;
}

.toggle-button {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	color: #fff;
}

#lbtn {
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	transition: 0.5s;
}

.jbutton-box {
	width: auto;
	height: auto;
	margin-left: 100px;
	margin-bottom: 60px;
	position: relative;
}

.jbtn {
	cursor: pointer;
	padding: 5px 15px;
	margin-bottom: 40px;
	position: absolute;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	color: #fff;
	border: 0;
	font-size: 17px;
	font-weight: 500;
}

.input-group {
	top: 10px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
	position: relative;
	justify-content: center;
	align-items: center;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.check-box {
	margin: 30px 10px 30px 0;
}

.room {
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}



.join-main .form-control {
	margin-bottom: 20px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	max-width: 50px;
	padding: 8px;
	height: 40px;
	max-width: 80px;
	background: #eee;
	color: #000000;
	font-weight: 600;
	margin: 0 auto;
	display: block;
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

::-webkit-scrollbar{
	display: none;
}
