@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 150px;
	display: grid;
	place-items: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #eee;
	color: #0048AA;
	border: 0;
	font-size: 17px;
	font-weight: 500;
}

/* Chat Page */

.chat-container {
	max-width: 1000px;
	min-width: 800px;
	max-height: 800px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 9px 25px #0b2a5b;
}

.chat-header {
	background: #0d3575;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
	z-index: 1;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: #0d3575;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	height: 500px;
    padding: 16px;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
    overflow-y: auto;
	padding-top: 40px;
	scrollbar-width: none;
}

/*.chat-messages .message {
	padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
	position: relative;
	background-color: rgb(231, 231, 231);
	box-shadow: inset 0 0 1px #111;
}


.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}*/

.message-row {
	display: grid;
	grid-template-columns: 35%;
	margin-bottom: 10px;
}

.you-message {
	justify-content: end;
	justify-items: end;
}

.other-message {
	justify-content: start;
	justify-items: start;
}

.message-text {
	padding: 9px 14px;
	margin-bottom: 5px;
}

.message-time {
	font-size: 13px;
	color: #777;
}

.you-message .message-text {
	background: #0048AA;
	color: white;
	border: 1px solid #0048AA;
	border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
	background: #eee;
	color: #111;
	border: 1px solid #ddd;
	border-radius: 14px 14px 14px 0;
}

.message-title span {
	font-size: 12px;
	text-transform: capitalize;
}


.chat-form-container {
	padding: 20px 30px;
	background-color: #0d3575	;
	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	box-shadow: 2px 9px 25px #0b2a5b;
	border-radius: 10px;
	overflow: hidden;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: #0d3575;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
	background: #0d3575;
	color: #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	max-width: 50px;
	padding: 8px;
	height: 40px;
	max-width: 80px;
	background: #eee;
	color: #0d3575;
	font-weight: 600;
	margin: 0 auto;
	display: block;
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

::-webkit-scrollbar{
	display: none;
}
